In [11]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [12]:
f = '/home/szong/Downloads/ng.3869-S2.xlsx'
df = pd.read_excel(f, sheet_name='Supplementary Table 4', skiprows=11)
df.head(2)
df.shape

,rsID,Chr,BPa,Cytogenetic band,Ref,Alt,RefF,Z-score,P-value,Direction,...,P_ERF,N_ERF,P_GENR,N_GENR,P_HU,N_HU,P_MCTFR,N_MCTFR,P_STR,N_STR
0,rs2490272,6,108895386,6q21,t,c,0.6308,7.441,9.960000e-14,++++-+++,...,0.575358,1076,0.8443,3701,0.03652,389,0.170009,3366,0.0004839,3215
1,rs768023,6,108876002,6q21,a,g,0.6309,7.432,1.070000e-13,++++-+++,...,0.441472,1076,0.9082,3701,0.04157,389,0.18478,3366,0.0004948,3215

(336, 42)

In [26]:
df['snps'] = df[['Chr', 'BPa', 'Ref', 'Alt']].astype(str).apply(lambda x: '_'.join(x), axis=1)

In [27]:
df.head(2)

,rsID,Chr,BPa,Cytogenetic band,Ref,Alt,RefF,Z-score,P-value,Direction,...,N_ERF,P_GENR,N_GENR,P_HU,N_HU,P_MCTFR,N_MCTFR,P_STR,N_STR,snps
0,rs2490272,6,108895386,6q21,t,c,0.6308,7.441,9.960000e-14,++++-+++,...,1076,0.8443,3701,0.03652,389,0.170009,3366,0.0004839,3215,6_108895386_t_c
1,rs768023,6,108876002,6q21,a,g,0.6309,7.432,1.070000e-13,++++-+++,...,1076,0.9082,3701,0.04157,389,0.18478,3366,0.0004948,3215,6_108876002_a_g

In [28]:
varlist = df.snps

In [14]:
df.Chr.unique()
df['Cytogenetic band'].unique()

array([ 6,  7, 13, 22,  3,  2,  1, 16, 20,  5, 17,  9])

array(['6q21', '6q16.1', '7p14.3', '13q33.2', '22q13.2', '3p24.2', '7q33',
       '2q22.3', '1p34.2', '1p31.1', '16p11.2', '20q13.13', '5q14.3',
       '2q11.2', '17q21.32', '9q21.11', '2p13.2', '3p24.3'], dtype=object)

# read in variant calls

In [21]:
f2 = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients/124_patients_bam_vcf.txt'
df2 = pd.read_csv(f2, sep='\t', usecols=['patient', 'strelka_snv_vcf', 'strelka_indel_vcf'])
df2.head(2)

,patient,strelka_snv_vcf,strelka_indel_vcf
0,HTMCP-03-06-02001,/projects/somatic/NCI_SAIC_HIV_Cervical/HTMCP-...,/projects/somatic/NCI_SAIC_HIV_Cervical/HTMCP-...
1,HTMCP-03-06-02002,/projects/somatic/NCI_SAIC_HIV_Cervical/HTMCP-...,/projects/somatic/NCI_SAIC_HIV_Cervical/HTMCP-...

In [20]:
df2.columns

Index(['patient', 'HIV_status', 'DNA_lib', 'source', 'status', 'RNA_lib',
       'ribodepleted_lib', 'DNA_bam', 'RNA_bam', 'DNA_single_vcf',
       'paired_mpileup_vcf', 'strelka_snv_vcf', 'strelka_indel_vcf',
       'mutseq_snv_vcf', 'RNA_single_vcf', 'other_vcf', 'DNA_tc', 'RNA_tc',
       'cnv', 'bbt_transcriptome', 'bbt_genome',
       'bbt_transcriptome_other_bacterial', 'bbt_genome_other_bacterial',
       'bbt_transcriptome_other_viral', 'bbt_genome_other_viral'],
      dtype='object')

In [65]:
tf = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/germline/HTMCP-03-06-02216.txt'

In [66]:
dftmp = pd.read_csv(tf, sep='\t', comment='#',header=None, low_memory=False)#skiprows=324)
dftmp['snps'] = dftmp[[0,1,3,4]].astype(str).apply(lambda x: '_'.join(x).lower(), axis=1)
dftmp.head()
dftmp.shape

/projects/da_workspace/software/miniconda/envs/da/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0,1,5,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,10,snps
0,CHROM,POS,ID,REF,ALT,QUAL,FORMAT,coverage,ref_count,alt_count,allele_frequency,chrom_pos_ref_alt
1,10,61372,rs147855157,CA,C,65.5,GT:PL:GQ,51,35,14,0.29,10_61372_ca_c
2,10,61419,.,G,A,98.0,GT:PL:GQ,56,37,19,0.34,10_61419_g_a
3,10,62057,.,G,A,70.0,GT:PL:GQ,84,64,19,0.23,10_62057_g_a
4,10,64767,rs201243043,C,T,35.0,GT:PL:GQ,52,20,32,0.62,10_64767_c_t

(5249768, 12)

In [68]:
dftmp[dftmp.snps.isin(varlist)].shape

(63, 12)

In [64]:
varlist[0]

'6_108895386_t_c'