$$ \sigma_i^2 = \frac{1}{m} \sum_{j=1}^m \left( x_i^{(j)} - \mu_i \right)^2.$$

### trace function tr

$$ trA = \sum_{i}^n A_{ii} $$

### matrix calculus

$f(x) \in \mathbb{R}, X \in \mathbb{R^{m \times n}}$, derivative of f(x) with respect to matrix X is also a mxn matrix.

$$ \frac{\partial f}{\partial X}  = 
\begin{bmatrix}
\frac{\partial f}{\partial X_{11}}   \frac{\partial f}{\partial X_{12}} ... \frac{\partial f}{\partial X_{1n}}\\
\frac{\partial f}{\partial X_{21}} \frac{\partial f}{\partial X_{22}} ... \frac{\partial f}{\partial X_{2n}}\\
\vdots \\
\frac{\partial f}{\partial X_{m1}} \frac{\partial f}{\partial X_{m2}} ... \frac{\partial f}{\partial X_{mn}}
\end{bmatrix}$$

### single-variable chain rule

multiply the derivative of the outer expression by the derivative of the inner expression

chain the pieces together
* introduce intermediate variables for nested subexpressions
* compute the derivatives of the intermediate variables with respect to their parameters
* multiply all derivatives together
* substitue the intermediate variables

![image](images/blkeqn-A153933499426CFC383D252C30A87953.svg)

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': [1, 1, 2, 1, 2],
                    'B': [np.nan, 2, 3, 4, 5],
                    'C': [1, 2, 1, 1, 2]}, columns=['A', 'B', 'C'])

In [7]:
df

   A    B  C
0  1  NaN  1
1  1  2.0  2
2  2  3.0  1
3  1  4.0  1
4  2  5.0  2

In [6]:
df.groupby('A').mean()

     B         C
A
1  3.0  1.333333
2  4.0  1.500000

### binominal distribution


The binomial distribution gives the discrete probability distribution $P_p(n|N)$ of obtaining exactly n successes out of N Bernoulli trials (where the result of each Bernoulli trial is true with probability p and false with probability q=1-p). The binomial distribution is therefore given by

\begin{equation*}P_p(n|N)=  \left(\begin{matrix}
N \\ n 
\end{matrix}\right)p^nq^{N-n} = \frac{N!}{n!(N-n)!}p^nq^{N-n}\end{equation*}


where (N; n) is a binomial coefficient. The above plot shows the distribution of n successes out of  N=20 trials with p=q=1/2.

if only two outcomes success/fail, the probability of success is p, and fail is 1-p. In another word, each trial satisfies Bernoulli distribution. 
probability of N trials with exactly n successes is $P_p(n|N)$

\begin{equation*} \left(\begin{matrix}
1 \\ 2 \\ 1 \\ 3
\end{matrix}\right) \end{equation*}

Original equation:
\begin{equation*}
  \pi(X) = \mathbf{N}_4 \Bigg\{ \left(

Original equation:
\begin{equation*}
  \pi(X) = \mathbf{N}_4 \Bigg\{ \left(
  \begin{matrix}
    1 \\ 2 \\ 1 \\ 3
  \end{matrix}
  \right), \left(
  \begin{matrix}
    2 & 1 & 2 & 3 \\
    1 & 2 & 1 & 3 \\
    2 & 1 & 3 & 3 \\
    3 & 3 & 3 & 7
  \end{matrix}
  \right) \Bigg\}
\end{equation*}



Original equation:
\begin{equation*}
  \pi(X) = \mathbf{N}_4 \Bigg\{ \left(
  \begin{matrix}
    1 \\ 2 \\ 1 \\ 3
  \end{matrix}
  \right), \left(
  \begin{matrix}
    2 & 1 & 2 & 3 \\
    1 & 2 & 1 & 3 \\
    2 & 1 & 3 & 3 \\
    3 & 3 & 3 & 7
  \end{matrix}
  \right) \Bigg\}
\end{equation*}

Updated equation:
\begin{equation*}
  \pi(X) = \mathbf{N}_4 \left\{ \left(
  \begin{matrix}
    1 \\ 2 \\ 1 \\ 3
  \end{matrix}
  \right), \left(
  \begin{matrix}
    2 & 1 & 2 & 3 \\
    1 & 2 & 1 & 3 \\
    2 & 1 & 3 & 3 \\
    3 & 3 & 3 & 7
  \end{matrix}
  \right) \right\}
\end{equation*}

\end{document}